
/* --- ############# xxx ############# --- */
body{
background-color: #1a1a1a;
  color: white;
  font-family: monospace;
  margin: auto;
}

/* --- ############# xxx ############# --- */

h1{
  text-align: center;
}
/* --- ############# xxx ############# --- */


/* --- ############# xxx ############# --- */


/* --- ############# xxx ############# --- */


/* --- ############# xxx ############# --- */


/* --- ############# xxx ############# --- */


